Langchain
ipykernel
python-dotenv
Langchain_community
pypdf
bs4
arxiv
pymupdf
Langchain_text_splitters
Langchain_openai
sentence_transformers
Langchain_huggingface
faiss-cpu
streamlit
arxiv
wikipedia
validators==0.28.1
youtube_transcript_api
